* {		
    box-sizing: border-box;		
  }		
 body ,html {
   height: 1050px;
   font-family: sans-serif,Arial, Helvetica ;
   width: auto;
   margin: 0;
   cursor:default;
   color: black;
   background-color: lightblue;
   text-align: block;
   display: inline-block;

 }
 .pass {
  float: flex;
  width: 11em;
  text-align: left;
  margin:20px;
  display: inline;
  
 }
 

 .img {
  margin-left: 1em;
  height: 100px;
  width: 200px;
  float: right;

}
label {
  float: left;
  width: 11em;
  text-align: left;
  
  
}
input {
  width: 15em;
  margin-bottom: .5em;
  margin-left: .1em;
    
}

.schname {
  text-align: center;
  font-size: 30px;
  border: 5px
  
}

 .twitter {
  background-color:#808080;
  color:white;
}
.facebook {
  background-color: #68983b;
  color: white;
}
.linkedin {
  background-color:#007bb5;
  color: white;
}
.instagram {
  background-color: #00ffff;
  color: white;
}

.social a {
  display: inline-block;
  margin-right:0.2em ;
  margin-left: 0.5em;
  text-align: center ;
  padding: 10px;
  transition: all 0.3s ease;
  font-size: 30px;
  
}

.social a:hover {
  background-color:grey;
}
.footer-bottom {
  float:right;
  padding: 20px;
 }
 /* Smartphones (portrait and landscape) ---------- */
 @media all and (max-width: 600px){
  body {
    background-color: rgb(60, 179, 113);
    height: 1050px;
   font-family: Arial, Helvetica ,sans-serif;
   width: auto;
   margin: 0;
   color: black;
   text-align: block;
   display: inline-block;
  }
}
